
@{
    ViewBag.Title = "FoodDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl position-relative p-0">
    @Html.Action("Header", "Modules")

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Chi tiết</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Chi tiết</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-12 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="@ViewBag.Food.Image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="mb-4">@ViewBag.Food.Name</h1>
                <p class="mb-4">@ViewBag.Food.Description</p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">@ViewBag.Food.Price</h1>
                            <div class="ps-4">
                                <p class="mb-0"> VNĐ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Thêm vào giỏ</a>
            </div>
        </div>
    </div>
</div>





