
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh sách khách hàng</h1>
        <div class="card mb-4">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Giới tính</th>
                            <th>Địa chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var stt = 1;}
                        @foreach (var item in ViewBag.List)
                        {
                        <tr>
                            <td>@stt</td>
                            <td>@item.Fullname</td>
                            <td>@item.Email</td>
                            @{ var sdt = "0" + item.Phone;}
                            <td>@sdt</td>
                            <td>
                                @if (item.Gender == 1)
                                {
                                    <span>Nam</span>
                                }
                                else
                                {
                                    <span>Nữ</span>
                                }
                            </td>
                            <td>@item.Address</td>
                        </tr>
                        stt++;
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

