
@{
    ViewBag.Title = "Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var userInfomatiom = (webnhahangasp.Models.User)Session["USER"]; }
<div class="container-xxl position-relative p-0">
    @Html.Action("Header", "Modules")

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Đặt bàn</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Đặt bàn</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
@if (ViewBag.Msg != null)
{
    if (ViewBag.Msg == "1")
    {
        <script>
            swal({
                title: 'Đặt bàn thành công!',
                /* text: 'Redirecting...', */
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    }
   
}
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">

        <div class="col-md-12 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Đặt bàn</h5>
                <h1 class="text-white mb-4">Đặt bàn trực tuyến cho ngày @DateTime.Now.ToString("dd/mm/yyyy")</h1>
                <form action="/Booking/Add" method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select" required name="BranchId" id="select1">
                                    @foreach (var item in ViewBag.Booking)
                                    {
                                        <option value="@item.BranchId">@item.Name</option>
                                    }
                                </select>
                                <label for="select1">Chọn chi nhánh</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" required name="NumberPeople" placeholder="Your Name">
                                <label for="name">Số lượng người</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="Fullname" required value="@userInfomatiom.Fullname" placeholder="Your Name">
                                <label for="name">Họ tên</label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="email" name="Phone" required value="@userInfomatiom.Phone" placeholder="Your Email">
                                <label for="email">Số điện thoại</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" name="Email" required value="@userInfomatiom.Email" placeholder="Your Email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="time" class="form-control" onchange="getMenu()" id="timeBooking" required name="Time" min="@DateTime.Now.TimeOfDay" placeholder="Giờ đặt">
                                <label for="name">Giờ đặt</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-floating" id="responeAjax">
                                <select class="form-select" required name="BranchId" style="height: 150px" id="select1" multiple>
                                </select>
                                <label for="select1">Món ăn</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Special Request" required name="note" id="message" style="height: 100px"></textarea>
                                <label for="message">Yêu cầu đặc biệt</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Đặt bàn ngay</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function getMenu() {

            var timeBooking = document.getElementById("timeBooking").value;
            const date1 = new Date();
            // We initialize a past date
            var month = parseInt(date1.getMonth()) +1 ;
            var today = date1.getFullYear() + "-" + month + "-" + date1.getDate();
            var data2Str = today + " " +timeBooking + ":00";
            const date2 = new Date(data2Str);
            var row = document.getElementById("responeAjax");
            if (date1.getTime() > date2.getTime()) {
                swal({
                    title: 'Phải chọn giờ sau giờ hiện tại!',
                    /* text: 'Redirecting...', */
                    icon: 'error',
                    timer: 3000,
                    buttons: true,
                    type: 'error'
                })
                var html = ` <select class="form-select" required style="height: 150px" name="FoodId" id="select1" multiple>`
              
                html += ` </select>
                                                 <label for="select1">Món ăn</label>`
                row.innerHTML = html
            } else {
            
                $.ajax({
                    url: "/Booking/GetMenuByTime",
                    type: "post",
                    data: {
                        time: timeBooking,
                    },
                    success: function (data) {
                        console.log(data);
                        var html = ` <select class="form-select" required style="height: 150px" name="FoodId" id="select1" multiple>`
                        for (var i = 0; i < data.length; i++) {
                            html += ` <option value="` + data[i].FoodId + `">` + data[i].FoodName + ` - ` + data[i].Session + `</option>`;
                        }
                        html += ` </select>
                                                 <label for="select1">Món ăn</label>`
                        row.innerHTML = html
                    }
                });
            }
           
        }
    </script>

</div>
                </div>
            </div>
</div>



