
@{
    ViewBag.Title = "Foods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl position-relative p-0">
    @Html.Action("Header", "Modules")

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Món ăn</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Món ăn</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Món ăn</h5>
            <h1 class="mb-5">Danh sách các món ăn order online</h1>
        </div>
        <div class="row g-4">
            @foreach (var item1 in ViewBag.List)
            {
                <div class="col-lg-3 col-md-6 wow fadeInUp mb-2" data-wow-delay="0.1s">
                    <div class="team-item text-center rounded">
                        <div class=" m-4">
                            <a href="/Food/FoodDetail/@item1.FoodId">
                                <img class="img-fluid" src="@item1.Image" alt="">
                            </a>
                        </div>
                        <h5 class="mb-0">@item1.Name</h5>
                        <small>@item1.Price VNĐ</small>
                    </div>
                </div>
            }
            <nav aria-label="...">
                <ul class="pagination">
                    @if (ViewBag.tag > 1)
                    {
                        int b = ViewBag.tag - 1;
                        <li class="page-item ">
                            <a class="page-link" href="/Home/Foods/@b" tabindex="-1">&lArr;</a>
                        </li>

                    }
                    else
                    {
                        <li></li>
                    }

                    @for (var i = 1; i <= ViewBag.pageSize; i++)
                    {
                        if (ViewBag.tag == i)
                        {
                            <li class="page-item active"><a class="page-link" href="/Home/Foods/@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item "><a class="page-link" href="/Home/Foods/@i">@i</a></li>
                        }

                    }
                    @if (ViewBag.tag < ViewBag.pageSize)
                    {
                        int a = ViewBag.tag + 1;
                        <li class="page-item">
                            <a class="page-link" href="/Home/Foods/@a">&rArr; </a>
                        </li>
                    }
                    else
                    {
                        <li></li>
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>





