@{
    ViewBag.Title = "Home Page";
}
@if (ViewBag.Msg != null)
{
    if (ViewBag.Msg == "2")
    {
        <script>
            swal({
                title: 'Cần phải đăng nhập!',
                /* text: 'Redirecting...', */
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'error'
            })
        </script>
    }

}
<div class="container-xxl position-relative p-0">
    @Html.Action("Header", "Modules")

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 text-white animated slideInLeft">Thưởng thức<br>bữa ăn ngon</h1>
                    <p class="text-white animated slideInLeft mb-4 pb-2"></p>
                    <a href="/Home/Bookings" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Đặt bàn ngay</a>
                </div>
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    <img class="img-fluid" src="img/hero.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Đầu bếp hàng đầu</h5>
                        <p>Hội tụ các đầu bếp hàng đầu phục vụ cho nhà hàng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Món ăn chất lượng</h5>
                        <p>Luôn mang đến khách hàng những món ăn ngon, chất lượng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5>Đặt hàng trực tuyến</h5>
                        <p>Đặt hàng online và có thể nhận hàng bất cứ ở đâu</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5>Dịch vụ 24/7</h5>
                        <p>Đội ngũ nhân viên phục vụ 24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="~/Content/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="~/Content/img/about-2.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="~/Content/img/about-3.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="~/Content/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Về chúng tôi</h5>
                <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>Nhà Hàng WW</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos erat ipsum et lorem et sit, sed stet lorem sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                            <div class="ps-4">
                                <p class="mb-0">Năm</p>
                                <h6 class="text-uppercase mb-0">Kinh nghiệm</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                            <div class="ps-4">
                                <p class="mb-0">Nổi tiếng</p>
                                <h6 class="text-uppercase mb-0">Đầu bếp</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Menu Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Menu Hôm Nay</h5>
            <h1 class="mb-5">Menu</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                        <i class="fa fa-coffee fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body"></small>
                            <h6 class="mt-n1 mb-0">Buổi sáng</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <i class="fa fa-hamburger fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body"></small>
                            <h6 class="mt-n1 mb-0">Buổi trưa</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <i class="fa fa-utensils fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body"></small>
                            <h6 class="mt-n1 mb-0">Buổi tối</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        @foreach (var item in ViewBag.ListMorning)
                        {
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/images/@item.Food.Image" alt="" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <a href="/Food/FoodDetail/@item.Food.FoodId"> <span>@item.Food.Name</span></a>
                                            <span class="text-primary">@item.Food.Price.ToString("#,##0") VNĐ</span>
                                        </h5>
                                        <small class="fst-italic">Thực đơn buổi sáng</small>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        @foreach (var item in ViewBag.ListNoon)
                        {
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/images/@item.Food.Image" alt="" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <a href="/Food/FoodDetail/@item.Food.FoodId"> <span>@item.Food.Name</span></a>
                                            <span class="text-primary">@item.Food.Price.ToString("#,##0") VNĐ</span>
                                        </h5>
                                        <small class="fst-italic">Thực đơn buổi trưa</small>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        @foreach (var item in ViewBag.ListEvening)
                        {
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/Content/images/@item.Food.Image" alt="" style="width: 80px;">
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <a href="/Food/FoodDetail/@item.Food.FoodId"> <span>@item.Food.Name</span></a>
                                            <span class="text-primary">@item.Food.Price.ToString("#,##0") VNĐ</span>
                                        </h5>
                                        <small class="fst-italic">Thực đơn buổi tối</small>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">

        <div class="col-md-12 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Đặt bàn</h5>
                <h1 class="text-white mb-4">Đặt bàn trực tuyến cho ngày @DateTime.Now.ToString("dd/MM/yyyy")</h1>
                <form action="/Booking/Add" method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-select" required name="BranchId" id="select1">
                                    @foreach (var item in ViewBag.Booking)
                                    {
                                        <option value="@item.BranchId">@item.Name</option>
                                    }
                                </select>
                                <label for="select1">Chọn chi nhánh</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" required name="NumberPeople" placeholder="Your Name">
                                <label for="name">Số lượng người</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="Fullname" required value="" placeholder="Your Name">
                                <label for="name">Họ tên</label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="email" name="Phone" required value="" placeholder="Your Email">
                                <label for="email">Số điện thoại</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" name="Email" required value="" placeholder="Your Email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="time" class="form-control" onchange="getMenu()" id="timeBooking" required name="Time" min="@DateTime.Now.TimeOfDay" placeholder="Giờ đặt">
                                <label for="name">Giờ đặt</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-floating" id="responeAjax">
                                <select class="form-select" required name="BranchId" style="height: 150px" id="select1" multiple>
                                </select>
                                <label for="select1">Món ăn</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Special Request" required name="note" id="message" style="height: 100px"></textarea>
                                <label for="message">Yêu cầu đặc biệt</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Đặt bàn ngay</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function getMenu() {

            var timeBooking = document.getElementById("timeBooking").value;
            const date1 = new Date();
            // We initialize a past date
            var month = parseInt(date1.getMonth()) + 1;
            var today = date1.getFullYear() + "-" + month + "-" + date1.getDate();
            var data2Str = today + " " + timeBooking + ":00";
            const date2 = new Date(data2Str);
            var row = document.getElementById("responeAjax");
            if (date1.getTime() > date2.getTime()) {
                swal({
                    title: 'Phải chọn giờ sau giờ hiện tại!',
                    /* text: 'Redirecting...', */
                    icon: 'error',
                    timer: 3000,
                    buttons: true,
                    type: 'error'
                })
                var html = ` <select class="form-select" required style="height: 150px" name="FoodId" id="select1" multiple>`

                html += ` </select>
                                        <label for="select1">Món ăn</label>`
                row.innerHTML = html
            } else {

                $.ajax({
                    url: "/Booking/GetMenuByTime",
                    type: "post",
                    data: {
                        time: timeBooking,
                    },
                    success: function (data) {
                        console.log(data);
                        var html = ` <select class="form-select" required style="height: 150px" name="FoodId" id="select1" multiple>`
                        for (var i = 0; i < data.length; i++) {
                            html += ` <option value="` + data[i].FoodId + `">` + data[i].FoodName + ` - ` + data[i].Session + `</option>`;
                        }
                        html += ` </select>
                                                             <label for="select1">Món ăn</label>`
                        row.innerHTML = html
                    }
                });
            }

        }
    </script>
</div>