
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl position-relative p-0">
    @Html.Action("Header", "Modules")

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Tin tức</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Tin tức</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Tin tức</h5>
            <h1 class="mb-5">Tin tức mới nhất</h1>
        </div>
        <div class="row g-4">
            @foreach (var item1 in ViewBag.List)
            {
                <div class="col-lg-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <a href="/New/NewDetail/@item1.NewsId">
                                <img style="width: 500px; height: 300px;" src="@item1.Image">
                            </a>
                            <h5>@item1.Title</h5>
                            <p>@item1.Created_at</p>
                        </div>
                    </div>
                </div>
            }
            <nav aria-label="...">
                <ul class="pagination">
                    @if (ViewBag.tag > 1)
                    {
                        int b = ViewBag.tag - 1;
                        <li class="page-item ">
                            <a class="page-link" href="/Home/News/@b" tabindex="-1">&lArr;</a>
                        </li>

                    }
                    else
                    {
                        <li></li>
                    }

                    @for (var i = 1; i <= ViewBag.pageSize; i++)
                    {
                        if (ViewBag.tag == i)
                        {
                            <li class="page-item active"><a class="page-link" href="/Home/News/@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item "><a class="page-link" href="/Home/News/@i">@i</a></li>
                        }

                    }
                    @if (ViewBag.tag < ViewBag.pageSize)
                    {
                        int a = ViewBag.tag + 1;
                        <li class="page-item">
                            <a class="page-link" href="/Home/News/@a">&rArr; </a>
                        </li>
                    }
                    else
                    {
                        <li></li>
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>

